-- CreateTable
CREATE TABLE `Adresse` (
    `id` INTEGER NOT NULL,
    `ville` VARCHAR(30) NOT NULL,
    `commune` VARCHAR(30) NOT NULL,
    `quartier` VARCHAR(30) NOT NULL,
    `avenue` VARCHAR(30) NOT NULL,
    `numero` INTEGER NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `AnneeScolaire` (
    `id` INTEGER NOT NULL,
    `designation` VARCHAR(30) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ClassePrimaire` (
    `id` INTEGER NOT NULL,
    `classe` VARCHAR(10) NOT NULL,
    `anneeScolaireId` INTEGER NOT NULL,

    INDEX `ClasseP_AnneeS_id`(`anneeScolaireId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ConfirmationPrimaire` (
    `id` INTEGER NOT NULL,
    `classe` VARCHAR(10) NOT NULL,
    `date` DATETIME(0) NOT NULL,
    `personnelId` INTEGER NOT NULL,
    `elevePrimaireId` INTEGER NOT NULL,
    `anneeScolaireId` INTEGER NOT NULL,

    INDEX `ConfirmationP_Personnel_id`(`personnelId`),
    INDEX `ConfirmationP_AnneeS_id`(`anneeScolaireId`),
    INDEX `ConfirmationP_EleveP_id`(`elevePrimaireId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Eleve` (
    `id` INTEGER NOT NULL,
    `nom` VARCHAR(30) NOT NULL,
    `postnom` VARCHAR(30) NOT NULL,
    `prenom` VARCHAR(30) NOT NULL,
    `sexe` CHAR(1) NOT NULL,
    `matricule` VARCHAR(30) NOT NULL,
    `dateNaissance` DATE NOT NULL,
    `nationalite` VARCHAR(30) NOT NULL,
    `langueEnseignementProposees` VARCHAR(90) NOT NULL,
    `moyenTransport` VARCHAR(30) NOT NULL,
    `langueFamille` VARCHAR(30) NOT NULL,
    `nbreEnfantToitPaternel` INTEGER NOT NULL,
    `personneRetireEnfant` VARCHAR(60) NOT NULL,
    `adresseId` INTEGER NOT NULL,
    `parentId` INTEGER NOT NULL,

    INDEX `Eleve_Adresse_id`(`adresseId`),
    INDEX `Eleve_Parent_id`(`parentId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ElevePrimaire` (
    `id` INTEGER NOT NULL,
    `eleveId` INTEGER NOT NULL,
    `classePrimaireId` INTEGER NOT NULL,
    `anneScolaireId` INTEGER NOT NULL,

    INDEX `EleveP_AnneeS_id`(`anneScolaireId`),
    INDEX `EleveP_ClasseP_id`(`classePrimaireId`),
    INDEX `EleveP_Eleve_id`(`eleveId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Fonction` (
    `id` INTEGER NOT NULL,
    `designation` VARCHAR(30) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `InscriptionPrimaire` (
    `id` INTEGER NOT NULL,
    `monteDansLaClasseDe` VARCHAR(10) NOT NULL,
    `ecoleDeProvenance` VARCHAR(30) NOT NULL,
    `motifDeSortie` VARCHAR(100) NOT NULL,
    `dateDeSortie` DATE NOT NULL,
    `dateInscription` DATETIME(0) NOT NULL,
    `eleveId` INTEGER NOT NULL,
    `personnelId` INTEGER NOT NULL,
    `anneeScolaireId` INTEGER NOT NULL,

    INDEX `InscriptionP_AnneeScolaire_id`(`anneeScolaireId`),
    INDEX `InscriptionP_Eleve_id`(`eleveId`),
    INDEX `InscriptionP_Personnel_id`(`personnelId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `MiseEnPlacePrimaire` (
    `id` INTEGER NOT NULL,
    `personnelPrimaireId` INTEGER NOT NULL,
    `anneeScolaireId` INTEGER NOT NULL,
    `classePrimaireId` INTEGER NOT NULL,

    INDEX `MiseEnPlaceP_AnneeS_id`(`anneeScolaireId`),
    INDEX `MiseEnPlaceP_ClasseP_id`(`classePrimaireId`),
    INDEX `MiseEnPlaceP_PersonnelP_id`(`personnelPrimaireId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ObjetRecouvrement` (
    `id` INTEGER NOT NULL,
    `designation` VARCHAR(40) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Parent` (
    `id` INTEGER NOT NULL,
    `pere` VARCHAR(60) NOT NULL,
    `mere` VARCHAR(60) NOT NULL,
    `professionPere` VARCHAR(30) NOT NULL,
    `professionMere` VARCHAR(30) NOT NULL,
    `telephonePere` VARCHAR(15) NOT NULL,
    `telephoneMere` VARCHAR(15) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Permission` (
    `id` INTEGER NOT NULL,
    `code` VARCHAR(30) NOT NULL,
    `description` VARCHAR(30) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Personnel` (
    `id` INTEGER NOT NULL,
    `nom` VARCHAR(30) NOT NULL,
    `postnom` VARCHAR(30) NOT NULL,
    `prenom` VARCHAR(60) NOT NULL,
    `sexe` CHAR(1) NOT NULL,
    `telephone` VARCHAR(15) NOT NULL,
    `actif` BOOLEAN NOT NULL,
    `fonctionId` INTEGER NOT NULL,
    `permissionId` INTEGER NOT NULL,

    INDEX `Personnel_Fonction_id`(`fonctionId`),
    INDEX `Personnel_Permission_id`(`permissionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `PersonnelPrimaire` (
    `id` INTEGER NOT NULL,
    `personnelId` INTEGER NOT NULL,

    INDEX `PersonnelP_Personnel_id`(`personnelId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `RecouvrementPrimaire` (
    `id` INTEGER NOT NULL,
    `date` DATE NOT NULL,
    `objetRId` INTEGER NOT NULL,
    `anneeScolaireId` INTEGER NOT NULL,

    INDEX `RecouvrementP_AnneeS_id`(`anneeScolaireId`),
    INDEX `RecouvrementP_objetRId_ObjetRecouvrement_id`(`objetRId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `RecouvrementPrimaireDetails` (
    `id` INTEGER NOT NULL,
    `recouvrementPrimaireId` INTEGER NOT NULL,
    `elevePrimaireId` INTEGER NOT NULL,

    INDEX `RecouvrementPDetails_EleveP_id`(`elevePrimaireId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `ClassePrimaire` ADD CONSTRAINT `ClasseP_AnneeS_id` FOREIGN KEY (`anneeScolaireId`) REFERENCES `AnneeScolaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ConfirmationPrimaire` ADD CONSTRAINT `ConfirmationP_AnneeScolaire_id` FOREIGN KEY (`anneeScolaireId`) REFERENCES `AnneeScolaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ConfirmationPrimaire` ADD CONSTRAINT `ConfirmationP_ElevePrimaire_id` FOREIGN KEY (`elevePrimaireId`) REFERENCES `ElevePrimaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ConfirmationPrimaire` ADD CONSTRAINT `ConfirmationP_Personnel_id` FOREIGN KEY (`personnelId`) REFERENCES `Personnel`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `Eleve` ADD CONSTRAINT `Eleve_adresseId_Adresse_id` FOREIGN KEY (`adresseId`) REFERENCES `Adresse`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `Eleve` ADD CONSTRAINT `Eleve_parentId_Parent_id` FOREIGN KEY (`parentId`) REFERENCES `Parent`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ElevePrimaire` ADD CONSTRAINT `EleveP_AnneeS_id` FOREIGN KEY (`anneScolaireId`) REFERENCES `AnneeScolaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ElevePrimaire` ADD CONSTRAINT `EleveP_ClasseP_id` FOREIGN KEY (`classePrimaireId`) REFERENCES `ClassePrimaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ElevePrimaire` ADD CONSTRAINT `ElevePrimaire_eleveId_Eleve_id` FOREIGN KEY (`eleveId`) REFERENCES `Eleve`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `InscriptionPrimaire` ADD CONSTRAINT `InscriptionP_AnneeScolaire_id` FOREIGN KEY (`anneeScolaireId`) REFERENCES `AnneeScolaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `InscriptionPrimaire` ADD CONSTRAINT `InscriptionP_Eleve_id` FOREIGN KEY (`eleveId`) REFERENCES `Eleve`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `InscriptionPrimaire` ADD CONSTRAINT `InscriptionP_Personnel_id` FOREIGN KEY (`personnelId`) REFERENCES `Personnel`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `MiseEnPlacePrimaire` ADD CONSTRAINT `MiseEnPlaceP_AnneeScolaire_id` FOREIGN KEY (`anneeScolaireId`) REFERENCES `AnneeScolaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `MiseEnPlacePrimaire` ADD CONSTRAINT `MiseEnPlaceP_ClassePrimaire_id` FOREIGN KEY (`classePrimaireId`) REFERENCES `ClassePrimaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `MiseEnPlacePrimaire` ADD CONSTRAINT `MiseEnPlaceP_PersonnelPrimaire_id` FOREIGN KEY (`personnelPrimaireId`) REFERENCES `PersonnelPrimaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `Personnel` ADD CONSTRAINT `Personnel_Fonction_id` FOREIGN KEY (`fonctionId`) REFERENCES `Fonction`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `Personnel` ADD CONSTRAINT `Personnel_Permission_id` FOREIGN KEY (`permissionId`) REFERENCES `Permission`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `PersonnelPrimaire` ADD CONSTRAINT `PersonnelP_Personnel_id` FOREIGN KEY (`personnelId`) REFERENCES `Personnel`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `RecouvrementPrimaire` ADD CONSTRAINT `RecouvrementP_AnneeS_id` FOREIGN KEY (`anneeScolaireId`) REFERENCES `AnneeScolaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `RecouvrementPrimaire` ADD CONSTRAINT `RecouvrementP_objetRId_ObjetRecouvrement_id` FOREIGN KEY (`objetRId`) REFERENCES `ObjetRecouvrement`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `RecouvrementPrimaireDetails` ADD CONSTRAINT `RecouvrementP_ElevePrimaire_id` FOREIGN KEY (`elevePrimaireId`) REFERENCES `ElevePrimaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `RecouvrementPrimaireDetails` ADD CONSTRAINT `RecouvrementP_RecouvrementPrimaire_id` FOREIGN KEY (`recouvrementPrimaireId`) REFERENCES `RecouvrementPrimaire`(`id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

